.idea
target
src/main/resources/img/cars/*
!src/main/resources/img/cars
src/main/resources/img/employees/*
!src/main/resources/img/employees
src/main/resources/img/tasks/*
!src/main/resources/img/tasks